.logout {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.login {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.cabecalho {
  padding: 0 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 3rem;
  background-color: #6d6d6d;
}
